.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 0px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-width: 400px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[id=description] {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-width: 400px;
  /* Align the placeholder text */
  /* Make it so text stays inside the box as long as possible */

}

input[type=checkbox] {
  /* Add some default checkbox styling */
  outline: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  /* Add some margin to the right of the checkbox */
  margin-right: 10px;

}

input[type=datetime-local] {
  max-width: 100%;
  margin: 0 auto;
}

input[type=datetime-local]::after:active {
  max-width: 100%;
  margin: 0 auto;
}

/* Make it so when the datetime-local input calendar gets dropped down it fits on all screens */
@media (max-width: 400px) {
  input[type=datetime-local] {
    max-width: 100%;
  }
}

/* Target buttons and add some default styling */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  display: block;
  /* add some margin */
  margin: 10px auto;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

/* Add some default styling to htags */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  /* Make the font size bigger so it looks like the title of the page */
  font-size: 2.5rem;
  /* Change the text color to a non black but neutral color that contrasts on the gray background */
  color: black;
}

/* Target addNewTask class of type h3 and make it smaller than default, take off the shadow */
h3.addNewTask {
  font-size: 1.5rem;
  text-shadow: none;
  /* Make it dark grey */
  color: #333333;

}

/* Target the ul element with class 'list' and make it so it stacks under the next element */
ul.list {
  display: block;
  margin: auto;
  max-width: 400px;
  /* Make the list items stack vertically */
  flex-direction: column;
  /* Make the list items center in the ul */
  align-items: center;
  /* Take off the default padding and bullets */
  padding: 0;
  list-style-type: none;
}

/* labels should be aligned in the center horizontally */
label {
  display: block;
  text-align: center;
  /*add some margin*/
  margin: 10px 0;
}

/* Target the header component and add a colored banner behind it */
header {
  background-color: black;
  /* Add some padding to the top and bottom of the header */
  padding: 20px 0;
}

body {
  background-color: #eeeeee;
}

html {
  background-color: #ccc;
}

section.listSection {
  background-color: #ccc;
}

ul.list{
  display: flex;
  /* Add styling that will wrap after the items fill up the row */
  flex-flow: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

a {
  cursor: default;
}

section.listSection {
  width: 100%;
}

/* Set the below font to a Georgia font */
h3.pageTitle {
  background-color: #ccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h3.TaskList {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

label {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

input {
  font-family: 'Open Sans', sans-serif;
  /* Add some rounding to the edges */
  border-radius: 5px;
}

button.collapsible {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

li.Task {
  max-width: 100%;
}

/* Set up the ul to be a 4 column grid that repeats */
ul.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* Add some padding to the top and bottom of the ul */
  padding: 20px 0;
}

div.taskContainer {
  max-width: 100%;
  margin-top: 0px;
}

div.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Add some padding to the top and bottom of the div */
  padding: 20px 0;
} 

.datetime-wrapper {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: max-content;
}




