li{
margin:1em;
}

/* Target span text and apply default styling */

span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #bbb;
    color: #ffffff;
    cursor: pointer;
    max-width: 300px;
    min-width: 150px;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #3b3a3a;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ddd;
    max-height: fit-content;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    margin-bottom: 0px;
  }

  button.collapsible.active {
    margin-bottom: 0px;
  }

  /* Add some default styling to the spans that makes them stack on top of eachother */
  div.content span {
    display: block;
    position: relative;
    transition: 0.5s;
    background-color: #ddd;
}

div.content {
  max-width: 300px;
}
